praktikum42/temcon.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tkh/temcon/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="temcon" targetNamespace="http://tkh/temcon/">
  <wsdl:message name="celciusToKelvinRequest">
    <wsdl:part name="celcius" type="xsd:double"/>
  </wsdl:message>
  <wsdl:message name="celciusToKelvinResponse">
    <wsdl:part name="return" type="xsd:double"/>
  </wsdl:message>
  <wsdl:message name="celciusToReamurRequest">
  	<wsdl:part name="celcius" type="xsd:double"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="celciusToReamurResponse">
  	<wsdl:part name="return" type="xsd:double"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="temcon">
    <wsdl:operation name="celciusToKelvin">
      <wsdl:input message="tns:celciusToKelvinRequest"/>
      <wsdl:output message="tns:celciusToKelvinResponse"/>
    </wsdl:operation>
    <wsdl:operation name="celciusToReamur">
    	<wsdl:input message="tns:celciusToReamurRequest"></wsdl:input>
    	<wsdl:output message="tns:celciusToReamurResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="temconSOAP" type="tns:temcon">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="celciusToKelvin">
      <soap:operation soapAction="http://tkh/temcon/celciusToKelvin"/>
      <wsdl:input>
        <soap:body namespace="http://tkh/temcon/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://tkh/temcon/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="celciusToReamur">
      <soap:operation soapAction="http://tkh/temcon/celciusToReamur"/>
      <wsdl:input>
        <soap:body namespace="http://tkh/temcon/" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body namespace="http://tkh/temcon/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="temcon">
    <wsdl:port binding="tns:temconSOAP" name="temconSOAP">
      <soap:address location="http://localhost/phpws/praktikum42/konverter_temperatur.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
